* {
    margin: 0;
}

em {
    color: grey;
}

nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navlink {
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.active{
    color: seagreen;
}